{% extends 'base.html.twig' %}

{% block title %}Cartes Leaflet{% endblock %}

{% block body %}

    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>

    <div class="container">
        <h1>Carte d'exemple</h1>
        <div id="mapid"></div>
    </div>

    <script>
        var mymap = L.map('mapid').setView([46.505, 2], 6);

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox.streets',
            accessToken: 'pk.eyJ1IjoidGlub3VjbHQiLCJhIjoiY2p0aGNzMDRrMGEwNDQ0bnpsNzlpOGUzcyJ9.149To4BpaAnxjY81rCpoQA'
        }).addTo(mymap);
    </script>

{% endblock %}